version: '3.4'

services:
    mongo:
        image: mongo
        restart: always
        environment:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
        ports:
          - 27017:27017
    mongo-express:
        image: mongo-express
        restart: always
        ports:
          - 8081:8081
        environment:
          ME_CONFIG_MONGODB_ADMINUSERNAME: root
          ME_CONFIG_MONGODB_ADMINPASSWORD: example
        depends_on:
          - mongo
    shoppingcart.api:   
        image: ${DOCKER_REGISTRY-}shoppingcartapi
        build:
            context: .
            dockerfile: ShoppingCart.Api/Dockerfile
        depends_on:
            - mongo
        ports:
            - "25:25"
            - "5001:443"
